[Desktop Entry]
Name=Foxit PhantomPDF
Name[zh_CN]=福昕阅读器
GenericName[zh_CN]=福昕PDF阅读器
Comment=Foxit Reader is a PDF reader. As the most popular PDF reader, Foxit Reader can fast open, browse, review, annotate, sign and print all PDF files.
Comment[zh_CN]=福昕阅读器是一款PDF文档阅读器，对中文的支持度非常高。福昕阅读器作为全球最流行的PDF阅读器，能够快速打开、浏览、审阅、注释、签署及打印任何PDF文件。
Keywords=pdf;octet-stream;
StartupNotify=true
Terminal=false
Type=Application
Categories=OtherTools;
MimeType=application/pdf;application/octet-stream;
Icon=foxitreader
Exec=/opt/Foxitreader/FoxitReader.sh %F
