[Desktop Entry]
Version=14.0.0.0
Name=Lightworks
Name[zh_CN]=Lightworks视频剪辑
GenericName[zh_CN]=Lightworks视频剪辑
Comment=Lightworks is a nonlinear video editor. It has special effects production, color correction, audio special output effect, editing and clipping video and other functions.
Comment[zh_CN]=Lightworks是一款非线性视频编辑器，它具有特效制作、色彩校正、音频特效输出、编辑和剪辑影片、媒体管理等功能。
Exec=/usr/bin/lightworks
Icon=/usr/share/lightworks/Icons/App.png
Terminal=false
Type=Application
Categories=OtherTools;
StartupWMClass=Ntcardvt
